@using PcBuilderApp.DTOs.CatalogDto;
@model List<ProductDto>

@{
    ViewData["Title"] = "GPU";
}


<div class="content-list">
    <div class="sort-container">
        <input id="q1" type="radio" name="sort">
        <label for="q1">Сначала дешевые</label><br>

        <input id="q2" type="radio" name="sort">
        <label for="q2">Сначала дорогие</label><br>
        @*<p>Сортировать по цене:</p>
        <button class="sort-button">Сначала дешевые</button>/
        <button class="sort-button">Сначала дорогие</button>*@
    </div>
    @foreach (var item in Model)
    {

        <div class="product-cart">
            <img src="/images/Gpu/@item.ImageName" alt="photo cart" class="img-product">
            <div class="product-info">
                <a asp-action="GetGpu" asp-route-id="@item.Id" class="product-cart-ref"><p class="product-cart-name">@item.Name</p></a>
                <p class="price">Цена: <b></b>@item.Price руб.</p>
            </div>
            <button class="add-basket">Добавить в корзину</button>
        </div>

    }
    <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a class="active" href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
    </div>

</div>