<ul class="all-list">
    <li class="concrete-list">
        <div class="container-list-info">
            <div class="name-list-info"><p>Материнская плата</p></div>
            <div></div>
            <div class=""><button class="btn-constructor-add">Выбрать +</button></div>
        </div>
    </li>
    <li class="concrete-list">
        <div class="container-list-info">
            <div class="name-list-info"><p>Процессор</p></div>
            <div></div>
            <div class=""><button class="btn-constructor-add">Выбрать +</button></div>
        </div>
    </li>
    <li class="concrete-list">
        <div class="container-list-info">
            <div class="name-list-info"><p>Видеокарта</p></div>
            <div></div>
            <div class=""><button class="btn-constructor-add">Выбрать +</button></div>
        </div>
    </li>
    <li class="concrete-list">
        <div class="container-list-info">
            <div class="name-list-info"><p>Оперативная память</p></div>
            <div></div>
            <div class=""><button class="btn-constructor-add">Выбрать +</button></div>
        </div>
    </li>
    <li class="concrete-list">
        <div class="container-list-info">
            <div class="name-list-info"><p>SSD</p></div>
            <div></div>
            <div class=""><button class="btn-constructor-add">Выбрать +</button></div>
        </div>
    </li>
    <li class="concrete-list">
        <div class="container-list-info">
            <div class="name-list-info"><p>Жесткий диск</p></div>
            <div></div>
            <div class=""><button class="btn-constructor-add">Выбрать +</button></div>
        </div>
    </li>
    <li class="concrete-list">
        <div class="container-list-info">
            <div class="name-list-info"><p>Блок питания</p></div>
            <div></div>
            <div class=""><button class="btn-constructor-add">Выбрать +</button></div>
        </div>
    </li>
    <li class="concrete-list">
        <div class="container-list-info">
            <div class="name-list-info"><p>Корпус</p></div>
            <div></div>
            <div class=""><button class="btn-constructor-add">Выбрать +</button></div>
        </div>
    </li>
</ul>