@{
    ViewData["Title"] = "Главная";
}

<div class="home">
    <h1>Заголовок статьи</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, consequatur. Non mollitia nostrum aspernatur vitae eligendi perspiciatis nulla totam ut numquam, quibusdam saepe doloribus praesentium dolorum harum aut. Sequi aut quibusdam nisi maiores beatae exercitationem harum temporibus fuga nihil dignissimos? Repellendus saepe molestias dignissimos! Magnam obcaecati corrupti amet repudiandae. Odio.</p>
</div>