<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - PCBuilderApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css" asp-append-version="true"/>
    <link rel="stylesheet" href="/CSS/style.css" asp-append-version="true" />

</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="top-header">
                <div class="reg">
                    <a href="https://html5css.ru/cssref/css3_pr_justify-content.php" class="a-logo"><img src="/images/logo-4-2.png" alt="logo" class="logo"></a>
                    <div>
                        <a href="" class="reg-a">Регистрация /</a><a href="" class="reg-a"> Войти</a>
                    </div>
                </div>
            </div>
            <div class="down-header">
                <nav class="left-menu">
                    <div class="dropdown">
                        <a href="" class="menu menu-l menu-bord1">
                            КАТАЛОГ
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <div class="dropdown-catalog">
                            <a href="" class="a-catalog"><img src="/images/icons8-cpu.png" alt="cpu" class="icon-catalog"> Процессоры</a>
                            <a href="" class="a-catalog"><img src="/images/icons8-gpu-64.png" alt="gpu" class="icon-catalog"> Видеокарты</a>
                            <a href="" class="a-catalog"><img src="/images/icons8-motherboard.png" alt="mbr" class="icon-catalog"> Материнские платы</a>
                            <a href="" class="a-catalog"><img src="/images/icons8-ram.png" alt="ram" class="icon-catalog"> Оперативная память</a>
                            <a href="" class="a-catalog"><img src="/images/icons8-power-supply.png" alt="psu" class="icon-catalog"> Блоки питания</a>
                            <a href="" class="a-catalog"><img src="/images/icons8-case.png" alt="case" class="icon-catalog"> Корпусы</a>
                        </div>
                    </div>
                    <a href="" class="menu menu-l menu-bord1">КОНСТРУКТОР ПК</a>
                    <a href="" class="menu menu-l">ГОТОВЫЕ СБОРКИ</a>
                </nav>
                <nav class="right-menu">
                    <a href="" class="menu menu-r menu-right"><img src="/images/icons8-basket.png" alt="basket" class="icon-menu">КОРЗИНА</a>
                    <a href="" class="menu menu-r menu-right"><img src="/images/icons8-lk.png" alt="lk" class="icon-menu">ЛИЧНЫЙ КАБИНЕТ</a>
                </nav>

            </div>
        </header>

        <div class="content">
            @RenderBody()
        </div>

        <footer class="footer">
            <div class="foot">
                <!-- <p class="footer-text">Click&#10148;</p> -->
                <a href="https://github.com/Fenix-NET" class="footer-text git">&#10148;GitHub</a>
                <p class="footer-text">&#169;Vladislav Kurbatov</p>
            </div>
        </footer>
    </div>

</body>
</html>