<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - PCBuilderApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css" asp-append-version="true"/>
    <link rel="stylesheet" href="/CSS/style.css" asp-append-version="true" />

</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="top-header">
                <div class="reg">
                    <a href="https://localhost:7035/" class="a-logo"><img src="/images/logo-4-2.png" alt="logo" class="logo"></a>
                    <div>
                        <a asp-controller="Registration" asp-action="CreateNewAccaunt" class="reg-a">Регистрация /</a><a asp-controller="Registration" asp-action="Auth" class="reg-a"> Войти</a>
                    </div>
                </div>
            </div>
            <div class="down-header">
                <nav class="left-menu">
                    <div class="dropdown">
                        <div href="" class="menu menu-l menu-bord1">
                            КАТАЛОГ
                            <i class="fa fa-caret-down"></i>
                        </div>
                        <div class="dropdown-catalog">
                            <a href="https://localhost:7035/Catalog/GetCpu" class="a-catalog"><img src="/images/icons/icons8-cpu.png" alt="cpu" class="icon-catalog"> Процессоры</a>
                            <a href="https://localhost:7035/Catalog/GetGpu" class="a-catalog"><img src="/images/icons/icons8-gpu-64.png" alt="gpu" class="icon-catalog"> Видеокарты</a>
                            <a href="https://localhost:7035/Catalog/GetMotherboard" class="a-catalog"><img src="/images/icons/icons8-motherboard.png" alt="mbr" class="icon-catalog"> Материнские платы</a>
                            <a href="https://localhost:7035/Catalog/GetRam" class="a-catalog"><img src="/images/icons/icons8-ram.png" alt="ram" class="icon-catalog"> Оперативная память</a>
                            <a href="https://localhost:7035/Catalog/GetHdd" class="a-catalog"><img src="/images/icons/icons8-hdd-50.png" alt="ram" class="icon-catalog"> Жесткие диски</a>
                            <a href="https://localhost:7035/Catalog/GetSsd" class="a-catalog"><img src="/images/icons/icons8-ssd-50.png" alt="ram" class="icon-catalog"> SSD</a>
                            <a href="https://localhost:7035/Catalog/GetPsu" class="a-catalog"><img src="/images/icons/icons8-power-supply.png" alt="psu" class="icon-catalog"> Блоки питания</a>
                            <a href="https://localhost:7035/Catalog/GetCase" class="a-catalog"><img src="/images/icons/icons8-case.png" alt="case" class="icon-catalog"> Корпусы</a>
                        </div>
                    </div>
                    <a href="" class="menu menu-l menu-bord1">КОНСТРУКТОР ПК</a>
                    <a href="" class="menu menu-l">ГОТОВЫЕ СБОРКИ</a>
                </nav>
                <nav class="right-menu">
                    <a href="" class="menu menu-r menu-right"><img src="/images/icons8-basket.png" alt="basket" class="icon-menu">КОРЗИНА</a>
                    <a href="" class="menu menu-r menu-right"><img src="/images/icons8-lk.png" alt="lk" class="icon-menu">ЛИЧНЫЙ КАБИНЕТ</a>
                </nav>

            </div>
        </header>

        <div class="content">
            @RenderBody()
        </div>
        <button onclick="topFunction()" id="upbtn" title="Go to top">Вверх</button>
        <footer class="footer">
            <div class="foot">
                <!-- <p class="footer-text">Click&#10148;</p> -->
                <a href="https://github.com/Fenix-NET" class="footer-text git">&#10148;GitHub</a>
                <p class="footer-text">&#169;Vladislav Kurbatov</p>
            </div>
        </footer>
    </div>

    <script>
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("upbtn").style.display = "block";
            } else {
                document.getElementById("upbtn").style.display = "none";
            }
        }
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
</body>
</html>