

<div class="content">
    <div class="container-reg cont-auth">
        <label for="email"><b>Пользователь</b></label>
        <input type="email" placeholder="Введите Email" name="email" required class="input-reg">
        <label for="password"><b>Пароль</b></label>
        <input type="password" placeholder="Введите пароль" name="password" required class="input-reg">
        <button type="submit" class="button-reg">Вход</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Запомнить меня
        </label>
    </div>
</div>