


<div class="content">
    <div class="container-reg">
        <h1 class="h1-reg">Регистрация</h1>
        <p>Пожалуйста, заполните эту форму, чтобы создать учетную запись.</p>
        <hr>
        <div class="form-reg">
            <label for="email"><b>Email</b></label>
            <input type="email" placeholder="Введите вашу почту" name="email" required class="input-reg">

            <label for="password"><b>Пароль</b></label>
            <input type="password" placeholder="Введите пароль" name="password" required class="input-reg">

            <label for="password-repeat"><b>Повторить пароль</b></label>
            <input type="password" placeholder="Повторите пароль" name="password-repeat" required class="input-reg">
            <label>
                <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Запомнить меня
            </label>
            <p>Создавая учетную запись, вы соглашаетесь с нашим <a href="#" style="color:dodgerblue">Условия и конфиденциальность</a>.</p>
            <div class="cont-reg-button">
                <button type="button" class="cancelbtn button-reg">Отменить</button>
                <button type="submit" class="signupbtn button-reg">Регистрация</button>
            </div>
        </div>
    </div>
</div>