.content {
    display: flex;
    flex-wrap: wrap;

}
.block {
    border: 1px solid #000;
    width: 100px;
    height: 100px;
}
.text {
    max-width: 100px;
    margin: 0 auto;
    flex-grow: 1;
    flex-basis: 200px;
}