html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.wrapper {
    display: flex;
	flex-direction: column;
	min-height: 100%;
    background-color:whitesmoke;
}
.header{
    display: flex;
    flex-direction: column;
    background-color: rgb(18, 19, 18);
    height: 150px;
}
.top-header{
    background-color: antiquewhite;
    height: 70%;
    /* display: flex;
    justify-content: space-between; */
}
.down-header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.container-logo {
    display: flex;
    justify-content: start;
}
.logo {
    max-width: 450px;
    max-height: 86px;
}
.a-logo {
    display: flex;
    margin-bottom: 5px;
}
.dropdown {
    float: left;
    height: 50px;
    overflow: visible;
}
.dropdown-catalog {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-catalog a {
    /* float: none; */
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 1.1rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.dropdown:hover .dropdown-catalog {
    display: flex;
    flex-direction: column;
    white-space: nowrap;

}
.a-catalog:hover {
    color: #00C90D;
    background-color: rgb(235, 235, 235);
}
.menu {
    height: 48px;
    text-decoration: none;
    color: white;
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid transparent;
    white-space: nowrap;
    font-family:'Times New Roman', Times, serif;
}
.menu-r {
    padding: 0 15px;

}
.menu-l {
    padding: 0 15px;

}
/* .menu-right {
    min-width: 202px;
} */

/* .menu:hover {
    color: #00C90D;
    background-color:rgb(30, 31, 30);
    border-bottom: 2px solid #00C90D;
    /* padding-bottom: 13px; */

.menu-l:hover {
    /* padding-bottom: 13px; */
    color: #00C90D;
    background: linear-gradient(270deg, #656769 0, #010003 100%);
    /* background-color:rgb(30, 31, 30); */
    border-color: #00C90D;
    cursor:pointer;
}
.menu-r:hover {
    color: #00C90D;
    background: linear-gradient(270deg, #656769 0, #010003 100%);
    /* background-color:rgb(30, 31, 30); */
    border-color: #00C90D;
     /* padding-bottom: 11px;  */
    /* .icon-menu {
        padding-bottom: 1px;
    } */
}
/* .menu-l {
    flex: 1;
} */
.icon-menu {
    max-width: 25px;
    max-height: 25px;
    vertical-align: middle;
}
.icon-catalog {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.left-menu {
    height: 50px;
    display: flex;
    max-width: 50%;
    /*justify-content:center;*/
    align-items: center;
    margin-left: 20px;
}
.right-menu {
    height: 50px;
    align-items: center;
    display: flex;
    margin-right: 20px;

}

.content {
    flex: 1 0 auto;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home{
    width:75%;
    margin: 0 auto;
}
.sort-container {
    height: 35px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    width:50%;
}
.sort-button {
    max-height: 25px;
    border: none;
}
.content-list {
    flex-direction: column;
    border: 1 solid red;
    display: flex;
    width: 1400px;
    justify-content: center;
    align-items: center;
}

.product-cart {
    border: 1 solid red;
    border-radius: 10px;
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
    background-color: white;
    height: 200px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    box-shadow: 0 0 26px -4px rgba(0, 0, 0, 0.5);
}
.product-info {
    width: 100%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;

}
.img-product {

    max-height: 100%;
    max-width: 100%;
    padding: 20px 0;
}

/* .pr-left {
    display: flex;
    flex-direction: column;
} */
.product-cart-ref {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    padding-bottom: 20px;
}
.product-cart-ref:hover {
    color: #00C90D;

}
    /*.product-cart-ref:hover .product-cart {*/
        /*        box-shadow: 0 0 19px -5px #00C90D;
        border-color: #00C90D;*/
        /*box-shadow: 2px #00C90D;
    }*/
.price {
    align-self:baseline;
}
.add-basket {
    max-height: 100%;
    max-width: 100%;
    align-self: center;
 
    font-family: 'Ubuntu';
    font-size: 16px;
    font-weight: bold;
    color: #000000 !important;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px ridge #555450;
    background: #ffffff;
}
.add-basket:hover {
    color: #00C90D !important;
    cursor: pointer
}
.reg {
    display: flex;
    max-width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: end;
    margin-right: 2%;
}
.reg-a {
    text-decoration: none;
    font-size: 1.2rem;
}
.form-reg {
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    padding-top: 10px;
}
.container-reg {
    padding: 15px;
    box-shadow: 0 0 19px -5px rgba(0,199,0,0.5);
    margin: 25px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

}
/* .cont-auth {
    width: 300px;
    height: 350px;
} */
.h1-reg {
    margin: auto;
}
.hr-reg {
    border: 2px solid #777777;
    margin-bottom: 15px;
    size: 100%;
}
.button-reg {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
.cont-reg-button {
    display: flex;
}
.input-reg {
    /* width: 100%; */
    padding: 15px;
    margin: 5px 0 22px 0;
    /* display: inline-block; */
    border: none;
    background: #e8e7e7;
}

#upbtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99;
    border: none; 
    outline: none; 
    background-color: lightgreen; 
    color: black; 
    cursor: pointer; 
    padding: 15px;
    border-radius: 50%; 
    font-size: 18px; 
    border: 1px solid black;
}

    #myBtn:hover {
        background-color: #555; /* Add a dark-grey background on hover */
    }
.footer{
    background-color: rgb(18, 19, 18);
    flex: 0 0 auto;
    height: 150px;
    border-top: 1px;
    border-color: white;

}
.footer-text {
    color: white;
    text-decoration: none;
    margin: 16px;
}
.footer-info {
    display: flex;
}
.git {
    font-size: 1.1rem;
}
.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*=============================================*/
.product-page {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    /* padding: 25px; */
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 0 0 26px -4px rgba(0, 0, 0, 0.5);
}

.main-product-page {
    display: flex;
}

.main-photo {
    box-sizing: border-box;
    padding: 0 25px;
    max-width: 50%;
}

.r-product {
    width: 50%;
    background-color: #010003;
    color: white;
    padding-left: 25px;
}

    .r-product > p {
        font-size: 1.5rem;
    }

.main-product-info {
    /* padding-left: 25px; */
    /* padding-right: 25px ; */
    margin-top: 30px;
    font-size: 1.3rem;
    /* border-radius: 10px; */
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    box-shadow: 0 0 15px 2px rgba(0,0,0,0.2);
    box-sizing: border-box;
    align-self: center;
}

.main-product-info > h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-btn-buy {
    background-color: #00C90D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 22px;
    margin: 4px 2px;
    transition: 0.3s;
    border-radius: 12px;
    /* border: 1px Solid black; */
}

.dop-info {
    align-self: center;
    width: 75%;
    align-content: center;
}

.dop-info > p {
    text-align: center;
}

.box-price {
    display: inline-flex;
    /* align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    align-self: */
}

.main-btn-buy:hover {
    background-color: #05e213;
    color: white;
    /* box-shadow: 0 0 10px 2px #00C90D; */
    cursor: pointer;
   /* .r-product{
        background: -ms-linear-gradient(0deg, #020014, #020014 5px, #00FF1A 6px, #FF0000 6px, #0800FF 6px);*/
     /*} */                    
}
.number-product {
    display: flex;
    margin-left: 10%;
    align-items: center;
}
.number-product a {
    text-decoration:none;
    color:black;
    font-size: 1.2rem;
}

/*========================= рейтинг звезды ====================================*/
.rating-area {
    overflow: hidden;
    width: 210px;
    /* margin: 0 auto; */
}

.rating-area:not(:checked) > input {
    display: none;
}

.rating-area:not(:checked) > label {
    float: right;
    width: 42px;
    padding: 0;
    cursor: pointer;
    font-size: 32px;
    line-height: 32px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}

.rating-area:not(:checked) > label:before {
    content: '★';
}

.rating-area > input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px #c60;
}

.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
     color: gold;
}

.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
     color: gold;
     text-shadow: 1px 1px goldenrod;
}

.rate-area > label:active {
    position: relative;
}
/*===========================================================*/
/*================================ ТАБЛИЦа =======================================*/
table {
    /* border-collapse: collapse; */
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    /* border: 1px solid #ddd; */
    box-shadow: 0 0 15px 2px rgba(0,0,0,0.2);
    margin-bottom: 25px;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}
/*==================================================================================*/
/*=====================ПАГИНАЦИЯ==========================*/
.pagination {
    margin-bottom:25px;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border-radius:5px;
}


.pagination a.active {
    background-color: #00C90D;
    color: white;
}


.pagination a:hover:not(.active) {
     background-color: #ddd;
}
/*============================================================*/

/*=============================КОНСТРУКТОР ПК===============================*/
.all-list {
    list-style-type: none;
    width: 75%;
}

.container-list {
    width: 75%;
}

.concrete-list {
    border: 1px solid black;
    border-radius: 5px;
    margin: 25px;
    padding: 5px 15px 5px 15px;
}

.container-list-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-list-info {
    font-size: 1.2rem;
}

.btn-constructor-add {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    color: green;
}

    .btn-constructor-add:hover {
        background: #eee;
    }


.dropbtn-min { /*Кнопка выпадающего меню < 550px */
    display: none;
}

.dropdown-min {
    display: none;
}

.text-reg-min {
    display: none;
}

/*===========================ПОИСК=======================*/
.search-box {
    /* position: absolute; */
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    background: white;
    height: 70%;
    border-radius: 40px;
    padding: 4px;
}
/* .search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
    }
    .search-box:hover > .search-btn {
    background: white;
    color: black;
    } */
.search-btn {
    color: #eeeeee;
    float: right;
    width: 40px;
    height: 100%;
    border-radius: 50%;
    background: #00C90D;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

    .search-btn > i {
        font-size: 20px;
    }

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0 6px;
    /* padding: 0; */
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 240px;
    /* width: 0px; */
    font-weight: bold;
}

.search-box-min {
    display: none;
}

.search-container-mini {
    align-self: flex-end;
    display: none;
    margin-top: 5px;
}


/*==========================MEDIA======================*/
@media screen and (max-width: 1140px) {
    .search-box {
        display: none;
        /* position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #666666;
        height: 40px;
        border-radius: 40px;
        padding: 4px; */
        /* }
        .search-box:hover > .search-txt {
        width: 240px;
        padding: 0 6px;
        }
        .search-box:hover > .search-btn {
        background: white;
        color: black;
        }
        .search-btn {
        color: #eeeeee;
        float: right;
        width: 40px;
        height: 100%;
        border-radius: 50%;
        background: #00C90D;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        color: white;
        cursor: pointer;
        text-decoration:none;
        }
        .search-btn > i {
        font-size: 20px;
        }
        .search-txt {
        border: none;
        background: none;
        outline: none;
        float: left;
        padding: 0;
        color: white;
        font-size: 16px;
        transition: 0.4s;
        line-height: 40px;
        width: 0px;
        font-weight: bold;
        } */
    }

    .search-container-mini {
        display: block;
    }
}
/*========================Поиск при маленькой ширине===================*/
/* .search-box-min {
        display: block;
        position: absolute;
        top: 176px;
        left: 95%;
        transform: translate(-50%, 0%); 
        background: white;
        height: 40px;
        border-radius: 40px;
        padding: 4px;
        max-width: 75%;
        margin: 0 auto;
    }
    .search-box-min:hover > .search-txt-min {
        width: 240px;
        padding: 0 6px;
        }
        .search-box-min:hover > .search-btn-min {
        background: white;
        color: black;
        }
        .search-btn-min {
            color: #eeeeee;
            float: right;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #00C90D;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.4s;
            color: white;
            cursor: pointer;
            text-decoration:none;
        }
        .search-btn-min > i {
        font-size: 20px;
        }
        .search-txt-min {
            border: none;
            background: none;
            outline: none;
            float: left;
            padding: 0;
            color: white;
            font-size: 16px;
            transition: 0.4s;
            line-height: 40px;
            width: 0px;
            font-weight: bold;
        }
} */

@media screen and (max-width: 800px) {

    .text-reg-min {
        display: none;
    }

    .dropbtn-min {
        display: none;
    }

    .dropdown-min {
        display: none;
    }

    .left-menu {
        margin-left: 10px;
    }

    .right-menu {
        margin-right: 0px;
    }

    .menu > span {
        display: none;
    }
}


@media screen and (max-width: 550px) {
    .logo {
        max-width: 250px;
    }

    .header {
        height: 120px;
    }

    .menu-l {
        display: none;
    }

    .text-reg-min {
        display: none;
    }

    .search-box-min {
        display: none;
    }

    /*=====================Выпадающее меню=====================*/
    /* Кнопка выпадающего списка */
    .decor-menu-min {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
    }

    .dropbtn-min {
        display: block;
        background-color: rgb(18, 19, 18);
        color: white;
        /* padding: 16px; */
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

        .dropbtn-min img {
            height: 20px;
            vertical-align: middle;
            padding-bottom: 3px;
        }
        /* Кнопка выпадающего меню при наведении и фокусировке */
        .dropbtn-min:hover, .dropbtn-min:focus {
            background-color: #00C90D;
        }

    /* Контейнер <div> - необходим для размещения выпадающего содержимого */
    .dropdown-min {
        position: relative;
        display: flex;
        height: 100%;
    }

    /* Выпадающее содержимое (скрыто по умолчанию) */
    .dropdown-content-min {
        white-space: nowrap;
        display: none;
        position: absolute;
        top: 50px;
        left: -10px;
        /* background-color: #f1f1f1; */
        background-color: rgb(18, 19, 18);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        /* Ссылки внутри выпадающего списка */
        .dropdown-content-min a {
            color: white;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            font-family: Arial, Helvetica, sans-serif;
        }

            /* Изменение цвета выпадающих ссылок при наведении курсора */
            .dropdown-content-min a:hover {
                background-color: rgb(40, 40, 40);
                color: #00C90D;
            }
    /* Показать выпадающее меню (используйте JS, чтобы добавить этот класс .dropdown-content содержимого, когда пользователь нажимает на кнопку выпадающего списка) */
    .show {
        display: block;
    }

    /*=============================Выпадающее ПОДменю===========================*/
    .dropdown-btn-min {
        padding: 12px 16px;
        text-decoration: none;
        font-size: 1rem;
        color: white;
        display: block;
        border: none;
        background: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
        outline: none;
        font-family: Arial, Helvetica, sans-serif;
    }

        /* При наведении курсора мыши */
        .sidenav a:hover, .dropdown-btn-min:hover {
            color: #f1f1f1;
        }

    /* Добавить активный класс для кнопки активного выпадающего списка */
    .active {
        background-color: green;
        color: white;
    }

    /* Выпадающий контейнер (по умолчанию скрыт). Необязательно: добавьте более светлый цвет фона и некоторые левые отступы, чтобы изменить дизайн выпадающего содержимого */
    .dropdown-container-min {
        display: none;
        background-color: #303030;
        padding-left: 8px;
    }
}

@media screen and (max-width: 427px) {

    .text-reg-max {
        display: none;
    }

    .text-reg-min {
        display: block;
    }

    .min-reg {
        margin-left: 5%;
        display: flex;
        flex-direction: column;
    }

    .logo {
        max-width: 200px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        height: 100px;
    }

    .logo {
        max-width: 150px;
    }
}

@media screen and (max-width:270px) {
    .logo {
        max-width: 100px;
    }
}
