<div class="container-fluid pl-0 pr-0 pt-2">
    <div class="row">
        <div class="col-lg-12">

            <div class="card" style="min-height:500px;">
                @*<div class="card-header">
                        <h2 style="display: contents;">Category List<em class="fa fa-info ml-2 pointer clsCategoryMasterInfo"></em></h2>
                        <button type="button" id="btnOpenModal" class="btn btn-primary float-right" data-toggle="modal" data-target="#CategoryMasterModal">
                            Add Category
                        </button>
                    </div>*@
                <div class="card-body">
                    <div class="text-center mt-5">
                        <div class="h1"><code>Access Denied</code></div>
                        <hr class="" style="margin:auto;width:50%">
                        <div class="h3">You dont have permission to view this page.</div>
                        @*<div class="h3 text-danger">🚫🚫🚫🚫</div>*@
                        <div class="text-danger mt-5">
                            <i class="fa fa-ban" style="margin:1px;font-size:25px;"></i>
                            <i class="fa fa-ban" style="margin:1px;font-size:25px;"></i>
                            <i class="fa fa-ban" style="margin:1px;font-size:25px;"></i>
                            <i class="fa fa-ban" style="margin:1px;font-size:25px;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>










